# Create .pylintrc
[MASTER]
load-plugins = pylint_django,pylint.extensions.import_order

[DJANGO]
django-settings-module = pydj_auth.settings

[FORMAT]
max-line-length = 88

[IMPORTS]
# Enforce import ordering: standard-library first, then third-party, then first-party
import-order-style = google
known-first-party = pydj_auth
known-third-party = django,uv,ruff

[MESSAGES CONTROL]
# Let Ruff handle these
disable = E0015, E0013, C0114, C0116, E1101, missing-module-docstring